{% extends 'base.html' %}

{% block title %}Select Movie{% endblock %}

{% block content %}
<div class="container">
    <h1 class="heading">Select Movie</h1>
    {%for movie in results%}
      <p>
        <a href="{{url_for('add_db',
        id = movie.id,
        title=movie.title,
        year=movie.year,
        description=movie.description,
        rating=movie.rating,
        img_url=movie.img_url
        )}}"> {{movie.title}} - {{movie.year}}</a>
      </p>
    {%endfor%}

</div>
{% endblock %}